body { width: 1000px; margin: 0px auto; background:#fdfdfd; font-family:Arial, Helvetica, sans-serif; }
header { margin: 20px 0px; }
h2 { font-size: 14px; margin: 5px 0 0 0; background: #ccc; padding: 4px 8px; border-radius: 5px 5px 0 0; }
.navbar { }
.navbar ul { padding:0px; }
.navbar li { display:inline-block; }
.navbar a { text-decoration:none; padding:4px 10px; background-color: #ccc; color:#000; }
.navbar a:hover { background-color: #888; color:#fff; }
form { }
form fieldset { border:none; padding: 0px; margin: 20px 0; }
.form-row { margin: 0 0 5px; }
button {  }
button:hover {  }
.content { min-height:500px; }
.submit-success { display:none; color:#33700d; font-weight: bold; }
.submit-failure { display:none; color:#701a0d; font-weight: bold; }
.project-links { margin-bottom: 15px; }
.project-links a { text-decoration: none; border: 1px solid #444; padding: 4px 8px; border-radius: 5px; background-color: #eee; font-size: 13px; display: inline-block; margin: 0 10px 0 0; color: #000; cursor: pointer; }
.project-links a:hover { background-color:#ddd; border-color:#888; }
/* PROGRESS INDICATOR */
.progress-indicator { display: none; width: 100%; margin: 0px auto; position: absolute; background-color: #fbfbfb; top: 99px; left: 0px; right: 0px; text-align: center; padding: 100px 0 0 0; }
.progress-indicator img { width:50px; }
